*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #cf7367 ,#fb4);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;

}

.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#c74209 ,#c57b14);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 15px 0 20px;
    cursor: pointer;


}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;

}
.input-box img{
    width: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;


}

